body{
    margin: 0;
    font-family: century-gothic, sans-serif;;
}
.container{
    margin: 0 100px;
}

 a{
    text-decoration: none;
    color: black;
    display: inline-block;
}

.header{
    border-bottom: 1px solid #000000;
}

.header-page a:after {
    display: block; /*превращаем его в блочный элемент*/
    content: ""; /*контента в данном блоке не будет поэтому в кавычках ничего не ставим*/
    height: 1px; /*задаём высоту линии*/
    width: 0%; /*задаём начальную ширину элемента (линии)*/
    background-color: black; /*цвет фона элемента*/
    transition: width 0.4s ease-in-out; /*данное свойство отвечает за плавное изменение ширины. Здесь можно задать время анимации в секундах (в данном случае задано 0.4 секунды)*/
}
.header-page a:hover:after,
.header-page a:focus:after {
    width: 100%;
}
.header-line{
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-page{
    display: flex;
}
.header-btn{
    display: flex;
}
.header-page-mer, .header-page-contact, .header-page-bron{
    font-weight: 400;
    font-size: 18px;
    margin-left: 20px;
}
.header-btn-reg,.header-btn-colocol{
    margin-left: 20px;
}
/*=====================================================*/


.shop {
    padding: 10px;
}

.container-shop {
    max-width: 1700px;
    margin: 0 auto;
}

.shops {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.shops-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: calc(25% - 40px); /* 4 карточки в ряд */
    transition: transform 0.3s;
}

.shops-card:hover {
    transform: translateY(-5px);
}

.shops-card-img img {
    max-width: 100%;
    border-radius: 8px;
}

.shops-card-title {
    font-size: 1.5em;
    margin: 10px 0;
    color: #333;
}

.shops-card-subtitle {
    font-size: 1em;
    color: #666;
}

.shops-card-text {
    font-size: 0.9em;
    color: #444;
    margin: 10px 0;
}

.shops-card-subtext a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}


/*=====================================================*/
.footer{
    /*background-color:rgb(179, 179, 179);*/
    width: auto;
    height: 150px;
    align-content: center;
    border-top: 1px solid #000000;
}
.footer-line{
    display: flex;
    align-items:center;
    justify-content: center;
}
.footer-line-logo{
    border-right: 1px solid #000000;
    padding-right: 10px;
}
.footer-line-socia{
    display: flex;
    align-items:center
}
.footer-socia-mail, .footer-socia-tg, .footer-socia-wapp, .footer-socia-phone{
    margin-left: 10px;
} 
.footer-socia-phone{
    font-size: 20px;
    font-weight: 600;
}

