<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <title>Сайт бронирования</title>
    <link rel="stylesheet" href="../public/css/index.css">
    <link rel="shortcut icon" href="../img/icon.png">
</head>
<body>
    <div class="header">
        <div class="border">
            <div class="header-line">

                <div class="line-title">
                    <div class="title">
                        Сайт Бронирования
                    </div>
                </div>

                <div class="line-menu">
                    <div class="flex">
                        <div class="menu-prod">
                            <a href="index.html">Главная страница</a>
                        </div>
                        <div class="menu-prod">
                            <a href="#"><u>Мероприятия</u></a>
                        </div>
                    </div>
                </div>

                <div class = "line-btn">
                    <div class="menu-search">
                        <a href="#"><img src="../img/colocol.png" alt="search"></a>
                    </div>

                    <div class="menu-exit">
                        <a href="reg.html"><img src="../img/people.png" alt="exit"></a>
                    </div>
                </div>

            </div>
    
        </div>

        <div class="border">
            <div class="flex-media">
                <div class="menu-prod">
                    <a href="#">Мероприятия</a>
                </div>
                <div class="menu-cont">
                    <a href="#">Контакты</a>
                </div>
            </div>
        </div>

    </div>

    <div class="main">
        МЕРОПРИЯТИЯ
    </div>


    <div class="footer">
        <div class="block">
            <div class="footer-line">
                <div class="footer-title">
                    <div class="title">
                        Сайт Бронирования
                    </div>
                </div>
                <!--<div class="footer-media">
                    <img class = "s" src="img/facebook.png" alt="">
                    <img class = "s" src="img/twit.png" alt="">
                    <img class = "s" src="img/yt.png" alt="">
                </div>-->
            </div>
        </div>

            <div class="copy">
                Сайт Бронирования ® 2024
            </div>
    </div>

</body>
</html>